// * {
//   margin: 0;
//   padding: 0;
//   //  border: 1px solid red;
// }

body,
html {
  width: 100%;
}
@import url("https://use.typekit.net/zkl0auq.css");

::-webkit-scrollbar {
  width: 0 !important;
}
.course_navbar {
  position: relative;
  width: inherit;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.course_navbar_b {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #362d2b;
  z-index: 99;
}

.course_store {
  position: absolute;
  top: 0;
  left: 25%;
  background-color: #f5ddba;
  display: flex;
  flex-direction: column;
}

.course_store_navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.course_store_info {
  max-width: 25%;
  max-height: 740px;
  position: relative;
}
.course_hover_color1 {
  background-color: #f6dcb9;
}
.course_hover_color2 {
  background-color: #f2a6ad;
}
.course_hover_color3 {
  background-color: #c57647;
}
.course_hover_color4 {
  background-color: #9f7667;
}

.course_store_navbar img {
  width: 100%;
  opacity: 0.39;
}
.activeImg img {
  opacity: 1;
}

.course_store_info_wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateX(-50%);
  top: 20%;
  left: 50%;
  align-content: center;
  justify-items: center;

  .course_store_info_txt {
    font-family: niagara, serif;
    font-size: 10vw;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1px;
  }
  .course_store_info_minTxt {
    font-family: niagara, serif;
    font-size: 2vw;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 11vw;
  }
}

.course_store_content_wrap {
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  position: relative;
}

.course_store_content_minWrap {
  width: inherit;
  height: 210px;
  background-color: #f78177;
  width: 100%;
}

.course_store_slide {
  width: 50vw;
  height: 250px;
  border: 5px solid #707070;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.course_store_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.course_store_slide div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_store_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .carousel_store_title {
    position: absolute;
    top: -5%;
    transform: translateX(-50%);
    left: 50%;
    font-size: 75px;
    font-family: niagara, serif;
    // .carousel_store_title_min {
    //   font-size: 30px;
    //   font-family: niagara, serif;
    //   margin: 10px;
    // }
  }
  li {
    color: #ffffff;
    font-size: 20px;
  }
}
.course_list_wrap {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  .course_card {
    width: 360px;
    position: relative;
    &:hover .course_card_img {
      opacity: 1;
      transition: 0.5s;
    }
    &:hover .course_card_hover {
      background: #362d2b;
      opacity: 0.75;
      display: flex;
      width: 360px;
      height: 10vh;
      position: absolute;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0px;
      align-items: center;
      justify-content: flex-end;
      font-family: adobe-devanagari, sans-serif;
      color: #ffffff;
      transition: 2s;
      .course_add_cart {
        text-align: center;
        width: 120px;
        height: 44px;
        border: 2px #ffffff solid;
        color: #ffffff;
        font-size: 16px;
        line-height: 44px;
        position: absolute;
        transform: translateX(50%);
        top: 25%;
        left: -30px;
      }
      .course_card_mark {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 15px 0 0;
        font-weight: bold;
        .course_card_mark_s {
          font-size: 16px;
        }
        .course_card_mark_l {
          font-size: 22px;
        }
        .course_card_mark_m {
          font-size: 20px;
          color: #f6dcb9;
        }
      }
    }

    .course_card_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.34;
    }

    .course_card_hover {
      display: none;
    }
  }
}

.course_filter_bar{
  display: flex;
  flex-direction: column;
  // justify-content: flex-end;
  align-items: center;
  margin: 0 10px 0 0;
  font-family: adobe-devanagari, sans-serif;
  .course_search{
    font-size: 39px;

  }
}


.color0 {
  background-color: #edc6b1;
}
.color1 {
  background-color: #f6dcb9;
}
.color2 {
  background-color: #f2a6ad;
}
.color3 {
  background-color: #c57647;
}
.color4 {
  background-color: #d57c5f;
}
.color5 {
  background-color: #e9cfc5;
}
.color6 {
  background-color: #9f7667;
}
.color7 {
  background-color: #edc6b1;
}
.color8 {
  background-color: #edc6b1;
}
