// @import url("https://use.typekit.net/zkl0auq.css");

::-webkit-scrollbar {
  width: 0 !important;
}

.course_navbar {
  position: relative;
  width: inherit;
  display: flex;
  flex-direction: row;
  height: 100vh;
  button {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  .course_loading {
    h3 {
      text-align: center;
      line-height: 250px;
    }
  }
  .course_navbar_b {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #362d2b;
    z-index: 99;

    .course_wordBox {
      width: 100%;
      height: 80px;
      opacity: 0.89;
      p {
        font-size: 5.2vw;
        line-height: 80px;
        font-weight: 600;
      }
      .course_bar {
        width: 100%;
        height: 60px;
      }
      .course_wordBoxUp {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background: #f4dcb9;
        .course_wordHalfUp {
          font-family: basic-sans, sans-serif, "微軟正黑體";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          margin: 0;
          color: #f78177;
          opacity: 0.68;
        }
      }
      .course_wordBoxDown {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        position: relative;

        .course_wordHalfDown {
          font-family: basic-sans, sans-serif, "微軟正黑體";
          margin: 0;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #f2f3f1;
          opacity: 0.69;
        }
      }
    }

    .close_option {
      display: none;
    }
    .course_filter_bar {
      // border: 1px black solid;
      margin: 10vh auto;
      width: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff;
      text-shadow: 3px 3px 12px #c57647;
      font-family: adobe-devanagari, sans-serif;
      .course_search {
        // border: 1px solid red;
        position: absolute;
        font-family: 微軟正黑體;
        top: 13vh;
        transform: translateX(-50%);
        left: 52%;
        text-align: left;
        line-height: 7vh;
        width: 9vw;
        height: 50px;
        padding: 0 0 0 10px;
        margin: -10px;
        font-size: 1.5vw;
        border-radius: 5%;
      }
      .course_total {
        font-size: 2vw;
        text-decoration: none;
        color: #ffffff;
        text-shadow: 3px 3px 12px #c57647;
      }
      .course_option_wrap {
        // border: 1px solid red;
        width: 14vw;
        position: relative;
        margin: -10px 0 0 0;

        .course_option {
          // border: 1px solid red;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          top: 20px;
          width: 150%;
          display: flex;
          font-size: 3vw;
          justify-content: space-between;
        }
        .course_filter_thing {
          // border: 5px solid black;
          color: #f78177;
          font-weight: 555;
          margin: 20px 0 0 0;
          font-size: 1.8vw;
          text-align: center;
          display: flex;
          flex-direction: column;
          button {
            background: transparent;
            color: #ffffff;
            text-shadow: 3px 3px 12px #c57647;
            font-size: 2vw;
            margin: 1px;
          }
          div {
            font-size: 1.5vw;
          }
          .course_filter_active {
            color: #f78177;
          }
        }
      }
    }
  }
  .course_store {
    position: absolute;
    top: 0;
    left: 25%;
    background-color: #f5ddba;
    display: flex;
    flex-direction: column;
    .open_option {
      position: fixed;
      transform: translateX(-50%);
      left: 6%;
      font-size: 30px;
      top: 7%;
      color: #362d2b;
      z-index: 25;
      display: none;
    }
    .open_close {
      display: none;
    }
    .course_store_content_wrap {
      // border: black solid 1px;
      // background-color: #f5ddba;
      width: 100%;
      height: 340px;
      display: flex;
      align-items: center;
      position: relative;
      .course_store_content_minWrap {
        width: inherit;
        height: 210px;
        background-color: #f78177;
        width: 100%;
      }
      .course_store_slide {
        width: 50vw;
        height: 250px;
        border: 5px solid #707070;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        div {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .carousel-control-prev {
          pointer-events: none !important;
          span {
            display: none;
          }
        }
        .carousel-control-next {
          pointer-events: none !important;
          span {
            display: none;
          }
        }
        .carousel_store_info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;

          .carousel_store_title {
            position: absolute;
            top: -5%;
            transform: translateX(-50%);
            left: 50%;
            font-size: 75px;
            font-family: niagara, serif;
          }
          li {
            color: #ffffff;
            font-size: 20px;
          }
        }
      }
    }
    .course_store_navbar {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      overflow: hidden;
      max-height: 65vh;
      img {
        width: 100%;
        opacity: 0.39;
      }

      .course_store_info {
        width: 25%;
        height: 100%;
        position: relative;
        .course_store_info_wrap {
          display: flex;
          flex-direction: column;
          position: absolute;
          transform: translateX(-50%);
          top: 20%;
          left: 50%;
          align-content: center;
          justify-items: center;

          .course_store_info_txt {
            font-family: niagara, serif;
            font-size: 10vw;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 1px;
          }
          .course_store_info_minTxt {
            font-family: niagara, serif;
            font-size: 2vw;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 11vw;
          }
        }
      }

      .course_hover_color1 {
        background-color: #f6dcb9;
      }
      .course_hover_color2 {
        background-color: #f2a6ad;
      }
      .course_hover_color3 {
        background-color: #c57647;
      }
      .course_hover_color4 {
        background-color: #9f7667;
      }

      .activeImg {
        color: white;
        .course_store_info_wrap {
          top: 25%;
          transition: 0.4s;
        }
        img {
          opacity: 1;
        }
      }
    }
    .course_list_wrap {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .color0 {
        background-color: #edc6b1;
      }
      .color1 {
        background-color: #f6dcb9;
      }
      .color2 {
        background-color: #f2a6ad;
      }
      .color3 {
        background-color: #c57647;
      }
      .color4 {
        background-color: #d57c5f;
      }
      .color5 {
        background-color: #e9cfc5;
      }
      .color6 {
        background-color: #9f7667;
      }
      .color7 {
        background-color: #edc6b1;
      }
      .color8 {
        background-color: #edc6b1;
      }

      .course_card {
        position: relative;
        width: 25%;
        &:hover .course_card_img {
          opacity: 1;
          transition: 0.5s;
        }
        &:hover .course_card_hover {
          background: #362d2b;
          opacity: 0.75;
          display: flex;
          width: 100%;
          height: 10vh;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          bottom: 0px;
          align-items: center;
          justify-content: flex-end;
          font-family: adobe-devanagari, sans-serif;
          color: #ffffff;
          transition: 2s;
          .course_add_cart {
            text-align: center;
            width: 5vw;
            height: 44px;
            border: 2px #ffffff solid;
            color: #ffffff;
            font-size: 10px;
            line-height: 44px;
            position: absolute;
            transform: translateX(-50%);
            top: 25%;
            left: 20%;
          }
          .course_card_mark {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: 0 10px 0 0;
            font-weight: bold;
            .course_card_mark_s {
              font-size: 1vw;
            }
            .course_card_mark_l {
              font-size: 1.2vw;
            }
            .course_card_mark_m {
              font-size: 20px;
              color: #f6dcb9;
            }
          }
        }

        .course_card_img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0.34;
        }

        .course_card_hover {
          display: none;
        }
      }
    }
  }
}

@media screen and(max-width:1024px) {
  .course_navbar {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 100vh;

    .course_navbar_b {
      position: fixed;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background-color: #362d2b;
      z-index: 99;
      overflow: hidden;
      .course_wordBox {
        width: 100%;
        height: 80px;
        opacity: 0.89;
        p {
          font-size: 6.4vw;
          line-height: 80px;
        }
        .course_bar {
          width: 100%;
          height: 60px;
        }
        .course_wordBoxUp {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          background: #f4dcb9;
          .course_wordHalfUp {
            // font-family: niagara, serif;
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            margin: 0;
            color: #f78177;
            opacity: 0.68;
          }
        }
        .course_wordBoxDown {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          position: relative;

          .course_wordHalfDown {
            // font-family: niagara, serif;
            font-weight: 600;
            margin: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f2f3f1;
            opacity: 0.69;
          }
        }
      }

      .close_option {
        z-index: 5;
        position: absolute;
        text-shadow: 3px 3px 12px #c57647;
        font-size: 35px;
        margin: 20px 0 0 0;
        right: 20px;
        color: #f78177;
        display: block;
        transition: none;
      }
      .course_filter_bar {
        // border: 1px black solid;
        margin: 13vh auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        text-shadow: 3px 3px 12px #c57647;
        font-family: adobe-devanagari, sans-serif;
        .course_search {
          // border: 1px solid red;
          position: absolute;
          font-family: 微軟正黑體;
          top: 16vh;
          transform: translateX(-50%);
          left: 54%;
          text-align: left;
          line-height: 7vh;
          width: 15vw;
          height: 50px;
          padding: 0 0 0 10px;
          margin: -10px;
          font-size: 1.8vw;
          border-radius: 5%;
        }
        .course_total {
          font-size: 3vw;
          text-decoration: none;
          color: #ffffff;
          text-shadow: 3px 3px 12px #c57647;
        }
        .course_option_wrap {
          // border: 1px solid red;
          width: 22vw;
          position: relative;
          margin: -12px 0 0 0;

          .course_option {
            // border: 1px solid red;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top:14px;
            width: 130%;
            display: flex;
            font-size: 5vw;
            justify-content: space-between;
          }
          .course_filter_thing {
            // border: 5px solid black;
            color: #f78177;
            font-weight: 555;
            margin: 20px 0 0 0;
            font-size: 2.8vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            button {
              background: transparent;
              color: #ffffff;
              text-shadow: 3px 3px 12px #c57647;
              font-size: 3vw;
              margin: 1px;
            }
            div {
              font-size: 1.5vw;
            }
            .course_filter_active {
              color: #f78177;
            }
          }
        }
      }
    }

    .close_move {
      left: -50%;
      transition: 0.9s;
      position: fixed;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #362d2b;
      z-index: 99;
    }

    .course_store {
      position: absolute;
      top: 0;
      left: 0%;
      background-color: #f5ddba;
      display: flex;
      flex-direction: column;
      .open_option {
        position: fixed;
        transform: translateX(-50%);
        left: 6%;
        font-size: 30px;
        top: 7%;
        color: #362d2b;
        z-index: 25;
        display: block;
      }
      .open_close {
        display: none;
      }
      .course_store_content_wrap {
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        position: relative;
        .course_store_content_minWrap {
          width: inherit;
          height: 210px;
          background-color: #f78177;
          width: 100%;
        }
        .course_store_slide {
          width: 80%;
          height: 250px;
          border: 5px solid #707070;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          div {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .carousel_store_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .carousel_store_title {
              position: absolute;
              top: -5%;
              transform: translateX(-50%);
              left: 50%;
              font-size: 75px;
              font-family: niagara, serif;
            }
            li {
              color: #ffffff;
              font-size: 24px;
            }
          }
        }
      }
      .course_store_navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 100%;
          opacity: 0.39;
        }

        .course_store_info {
          width: 25%;
          max-height: 740px;
          position: relative;
          overflow: hidden;
          // border:2px yellowgreen  solid;
          .course_store_info_wrap {
            display: flex;
            flex-direction: column;
            position: absolute;
            transform: translateX(-50%);
            top: 20%;
            left: 50%;
            align-content: center;
            justify-items: center;

            .course_store_info_txt {
              font-family: niagara, serif;
              font-size: 12vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 1px;
            }
            .course_store_info_minTxt {
              font-family: niagara, serif;
              font-size: 4vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 13vw;
            }
          }
        }

        .course_hover_color1 {
          background-color: #f6dcb9;
        }
        .course_hover_color2 {
          background-color: #f2a6ad;
        }
        .course_hover_color3 {
          background-color: #c57647;
        }
        .course_hover_color4 {
          background-color: #9f7667;
        }

        .activeImg {
          color: white;
          .course_store_info_wrap {
            top: 25%;
            transition: 0.4s;
          }
          img {
            opacity: 1;
          }
        }
      }
      .course_list_wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .color0 {
          background-color: #edc6b1;
        }
        .color1 {
          background-color: #f6dcb9;
        }
        .color2 {
          background-color: #f2a6ad;
        }
        .color3 {
          background-color: #c57647;
        }
        .color4 {
          background-color: #d57c5f;
        }
        .color5 {
          background-color: #e9cfc5;
        }
        .color6 {
          background-color: #9f7667;
        }
        .color7 {
          background-color: #edc6b1;
        }
        .color8 {
          background-color: #edc6b1;
        }

        .course_card {
          position: relative;
          width: 25%;
          &:hover .course_card_img {
            opacity: 1;
          }
          &:hover .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 10vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 6vw;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 10px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 25%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 16px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 16px;
              }
              .course_card_mark_m {
                font-size: 20px;
                color: #f6dcb9;
              }
            }
          }
          .course_card_img {
            opacity: 1;
          }
          .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 10vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 6vw;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 10px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 25%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 16px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 16px;
              }
              .course_card_mark_m {
                font-size: 20px;
                color: #f6dcb9;
              }
            }
          }

          .course_card_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and(max-width:956px) {
  .course_navbar {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 100vh;

    .course_navbar_b {
      position: fixed;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background-color: #362d2b;
      z-index: 99;
      overflow: hidden;
      .course_wordBox {
        width: 100%;
        height: 80px;
        opacity: 0.89;
        p {
          font-size: 6vw;
          line-height: 80px;
        }
        .course_bar {
          width: 100%;
          height: 60px;
        }
        .course_wordBoxUp {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          background: #f4dcb9;
          .course_wordHalfUp {
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            margin: 0;
            color: #f78177;
            opacity: 0.68;
          }
        }
        .course_wordBoxDown {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          position: relative;

          .course_wordHalfDown {
            font-weight: 600;
            margin: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f2f3f1;
            opacity: 0.69;
          }
        }
      }

      .close_option {
        // border: 1px black solid;
        z-index: 5;
        position: absolute;
        text-shadow: 3px 3px 12px #c57647;
        font-size: 35px;
        margin: 20px 0 0 0;
        right: 20px;
        color: #f78177;
        display: block;
        transition: none;
      }
      .course_filter_bar {
        // border: 1px black solid;
        margin: 13vh auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        text-shadow: 3px 3px 12px #c57647;
        font-family: adobe-devanagari, sans-serif;
        .course_search {
          // border: 1px solid red;
          position: absolute;
          top: 16vh;
          transform: translateX(-50%);
          left: 54%;
          text-align: left;
          line-height: 7vh;
          width: 16vw;
          height: 50px;
          padding: 0 0 0 10px;
          margin: -10px;
          font-size: 1.8vw;
          border-radius: 5%;
        }
        .course_total {
          font-size: 3.1vw;
          text-decoration: none;
          color: #ffffff;
          text-shadow: 3px 3px 12px #c57647;
        }
        .course_option_wrap {
          // border: 1px solid red;
          width: 22vw;
          position: relative;
          margin: -12px 0 0 0;

          .course_option {
            // border: 1px solid red;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 18px;
            width: 130%;
            display: flex;
            font-size: 5vw;
            justify-content: space-between;
          }
          .course_filter_thing {
            // border: 5px solid black;
            color: #f78177;
            font-weight: 555;
            margin: 20px 0 0 0;
            font-size: 3vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            button {
              background: transparent;
              color: #ffffff;
              text-shadow: 3px 3px 12px #c57647;
              font-size: 3.2vw;
              margin: 2px;
            }
            div {
              font-size: 1.5vw;
            }
            .course_filter_active {
              color: #f78177;
            }
          }
        }
      }
    }
    .close_move {
      left: -50%;
      transition: 0.9s;
      position: fixed;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #362d2b;
      z-index: 99;
    }

    .course_store {
      position: absolute;
      top: 0;
      left: 0%;
      background-color: #f5ddba;
      display: flex;
      flex-direction: column;
      .open_option {
        position: fixed;
        transform: translateX(-50%);
        left: 6%;
        font-size: 30px;
        top: 7%;
        color: #362d2b;
        z-index: 25;
        display: block;
      }
      .open_close {
        display: none;
      }
      .course_store_content_wrap {
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        position: relative;
        .course_store_content_minWrap {
          width: inherit;
          height: 210px;
          background-color: #f78177;
          width: 100%;
        }
        .course_store_slide {
          width: 80%;
          height: 250px;
          border: 5px solid #707070;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          div {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .carousel_store_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .carousel_store_title {
              position: absolute;
              top: -5%;
              transform: translateX(-50%);
              left: 50%;
              font-size: 75px;
              font-family: niagara, serif;
            }
            li {
              color: #ffffff;
              font-size: 24px;
            }
          }
        }
      }
      .course_store_navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 100%;
          opacity: 0.39;
        }

        .course_store_info {
          width: 25%;
          max-height: 740px;
          position: relative;
          overflow: hidden;
          // border:2px yellowgreen  solid;
          .course_store_info_wrap {
            display: flex;
            flex-direction: column;
            position: absolute;
            transform: translateX(-50%);
            top: 20%;
            left: 50%;
            align-content: center;
            justify-items: center;

            .course_store_info_txt {
              font-family: niagara, serif;
              font-size: 12vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 1px;
            }
            .course_store_info_minTxt {
              font-family: niagara, serif;
              font-size: 4vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 13vw;
            }
          }
        }

        .course_hover_color1 {
          background-color: #f6dcb9;
        }
        .course_hover_color2 {
          background-color: #f2a6ad;
        }
        .course_hover_color3 {
          background-color: #c57647;
        }
        .course_hover_color4 {
          background-color: #9f7667;
        }

        .activeImg {
          color: white;
          .course_store_info_wrap {
            top: 25%;
            transition: 0.4s;
          }
          img {
            opacity: 1;
          }
        }
      }
      .course_list_wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .color0 {
          background-color: #edc6b1;
        }
        .color1 {
          background-color: #f6dcb9;
        }
        .color2 {
          background-color: #f2a6ad;
        }
        .color3 {
          background-color: #c57647;
        }
        .color4 {
          background-color: #d57c5f;
        }
        .color5 {
          background-color: #e9cfc5;
        }
        .color6 {
          background-color: #9f7667;
        }
        .color7 {
          background-color: #edc6b1;
        }
        .color8 {
          background-color: #edc6b1;
        }

        .course_card {
          position: relative;
          width: 33.3%;
          &:hover .course_card_img {
            opacity: 1;
          }
          &:hover .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 10vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 8vw;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 10px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 25%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 16px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 16px;
              }
              .course_card_mark_m {
                font-size: 18px;
                color: #f6dcb9;
              }
            }
          }
          .course_card_img {
            opacity: 1;
          }
          .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 10vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 8vw;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 10px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 25%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 16px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 16px;
              }
              .course_card_mark_m {
                font-size: 18px;
                color: #f6dcb9;
              }
            }
          }

          .course_card_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media screen and(max-width:702px) {
  .course_navbar {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 100vh;

    .course_navbar_b {
      position: fixed;
      top: 0;
      left: 0;
      width: 40%;
      height: 100%;
      background-color: #362d2b;
      z-index: 99;
      overflow: hidden;
      .course_wordBox {
        width: 100%;
        height: 80px;
        opacity: 0.89;
        p {
          font-size: 7vw;
          line-height: 80px;
        }
        .course_bar {
          width: 100%;
          height: 60px;
        }
        .course_wordBoxUp {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          background: #f4dcb9;
          .course_wordHalfUp {
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            margin: 0;
            color: #f78177;
            opacity: 0.68;
          }
        }
        .course_wordBoxDown {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          position: relative;

          .course_wordHalfDown {
            font-weight: 600;
            margin: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f2f3f1;
            opacity: 0.69;
          }
        }
      }

      .close_option {
        // border: 1px black solid;
        z-index: 5;
        position: absolute;
        text-shadow: 3px 3px 12px #c57647;
        font-size: 35px;
        margin: 10px 0 0 0;
        right: 20px;
        color: #f78177;
        display: block;
        transition: none;
      }
      .course_filter_bar {
        // border: 1px black solid;
        margin: 13vh auto;
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        text-shadow: 3px 3px 12px #c57647;
        font-family: adobe-devanagari, sans-serif;
        .course_search {
          // border: 1px solid red;
          position: absolute;
          top: 16vh;
          transform: translateX(-50%);
          left: 54%;
          text-align: left;
          line-height: 7vh;
          width: 19vw;
          height: 50px;
          padding: 0 0 0 10px;
          margin: -10px;
          font-size: 1.8vw;
          border-radius: 5%;
        }
        .course_total {
          font-size: 3.5vw;
          text-decoration: none;
          color: #ffffff;
          text-shadow: 3px 3px 12px #c57647;
        }
        .course_option_wrap {
          // border: 1px solid red;
          width: 25vw;
          position: relative;
          margin: -12px 0 0 0;

          .course_option {
            // border: 1px solid red;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 22px;
            width: 130%;
            display: flex;
            font-size: 5vw;
            justify-content: space-between;
          }
          .course_filter_thing {
            // border: 5px solid black;
            color: #f78177;
            font-weight: 555;
            margin: 20px 0 0 0;
            font-size: 3.4vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            button {
              background: transparent;
              color: #ffffff;
              text-shadow: 3px 3px 12px #c57647;
              font-size: 3.7vw;
              margin: 1px;
            }
            div {
              font-size: 1.5vw;
            }
            .course_filter_active {
              color: #f78177;
            }
          }
        }
      }
    }
    .close_move {
      left: -50%;
      transition: 0.9s;
      position: fixed;
      top: 0;
      width: 50%;
      height: 100%;
      background-color: #362d2b;
      z-index: 99;
    }

    .course_store {
      position: absolute;
      top: 0;
      left: 0%;
      background-color: #f5ddba;
      display: flex;
      flex-direction: column;
      .open_option {
        position: fixed;
        transform: translateX(-50%);
        left: 9%;
        font-size: 30px;
        top: 8%;
        color: #362d2b;
        z-index: 25;
        display: block;
      }
      .open_close {
        display: none;
      }
      .course_store_content_wrap {
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        position: relative;
        .course_store_content_minWrap {
          width: inherit;
          height: 210px;
          background-color: #f78177;
          width: 100%;
        }
        .course_store_slide {
          width: 90%;
          height: 250px;
          border: 5px solid #707070;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          div {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .carousel_store_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .carousel_store_title {
              position: absolute;
              top: -5%;
              transform: translateX(-50%);
              left: 50%;
              font-size: 75px;
              font-family: niagara, serif;
            }
            li {
              color: #ffffff;
              font-size: 20px;
            }
          }
        }
      }
      .course_store_navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 100%;
          opacity: 0.39;
        }

        .course_store_info {
          width: 50%;
          max-height: 250px;
          position: relative;
          overflow: hidden;
          // border:2px yellowgreen  solid;
          .course_store_info_wrap {
            display: flex;
            flex-direction: column;
            position: absolute;
            transform: translateX(-50%);
            top: 20%;
            left: 50%;
            align-content: center;
            justify-items: center;

            .course_store_info_txt {
              font-family: niagara, serif;
              font-size: 18vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: -10px;
            }
            .course_store_info_minTxt {
              font-family: niagara, serif;
              font-size: 5vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 18vw;
            }
          }
        }

        .course_hover_color1 {
          background-color: #f6dcb9;
        }
        .course_hover_color2 {
          background-color: #f2a6ad;
        }
        .course_hover_color3 {
          background-color: #c57647;
        }
        .course_hover_color4 {
          background-color: #9f7667;
        }

        .activeImg {
          color: white;
          .course_store_info_wrap {
            top: 25%;
            transition: 0.4s;
          }
          img {
            opacity: 1;
          }
        }
      }
      .course_list_wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .course_card {
          position: relative;
          width: 50%;
          &:hover .course_card_img {
            opacity: 1;
          }
          &:hover .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 10vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 10vw;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 10px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 25%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 18px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 15px;
              }
              .course_card_mark_m {
                font-size: 18px;
                color: #f6dcb9;
              }
            }
          }
          .course_card_img {
            opacity: 1;
          }
          .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 10vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 10vw;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 10px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 25%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 18px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 15px;
              }
              .course_card_mark_m {
                font-size: 18px;
                color: #f6dcb9;
              }
            }
          }

          .course_card_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
@media screen and(max-width:480px) {
  .course_navbar {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 100vh;

    .course_navbar_b {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 55%;
      background-color: #362d2b;
      z-index: 99;
      overflow: hidden;
      .course_wordBox {
        width: 100%;
        height: 80px;
        opacity: 0.89;
        p {
          font-size: 15vw;
          line-height: 80px;
        }
        .course_bar {
          width: 100%;
          height: 60px;
        }
        .course_wordBoxUp {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          background: #f4dcb9;
          .course_wordHalfUp {
            font-weight: 600;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            margin: 0;
            color: #f78177;
            opacity: 0.68;
          }
        }
        .course_wordBoxDown {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          overflow: hidden;
          position: relative;

          .course_wordHalfDown {
            font-weight: 600;
            margin: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #f2f3f1;
            opacity: 0.69;
          }
        }
      }

      .close_option {
        // border: 1px black solid;
        z-index: 5;
        position: absolute;
        text-shadow: 3px 3px 12px #c57647;
        font-size: 35px;
        margin: 0;
        right: 20px;
        color: #f78177;
        display: block;
        transition: none;
      }
      .course_filter_bar {
        // border: 1px black solid;
        margin: 7.1vh auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        text-shadow: 3px 3px 12px #c57647;
        font-family: adobe-devanagari, sans-serif;
        .course_search {
          // border: 1px solid red;
          position: absolute;
          top: 12vh;
          transform: translateX(-50%);
          left: 54%;
          text-align: left;
          line-height: 40px;
          width: 45vw;
          height: 40px;
          padding: 0 0 0 10px;
          margin: -10px;
          font-size: 5vw;
          border-radius: 5%;
        }
        .course_total {
          margin: 2px 0 0 0;
         font-size: 20px;
          text-decoration: none;
          color: #ffffff;
          text-shadow: 3px 3px 12px #c57647;
        }
        .course_option_wrap {
          // border: 1px solid red;
          width: 35vw;
          position: relative;
          margin: -18px 0 0 0;

          .course_option {
            // border: 1px solid red;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            top: 16px;
            width: 130%;
            display: flex;
            font-size: 8vw;
            justify-content: space-between;
          }
          .course_filter_thing {
            // border: 5px solid black;
            color: #f78177;
            font-weight: 555;
            margin: 18px 0 0 0;
            font-size: 19px;
            text-align: center;
            display: flex;
            flex-direction: column;
            button {
              background: transparent;
              color: #ffffff;
              text-shadow: 3px 3px 12px #c57647;
              font-size: 20px;
              margin: 1px;
            }
            div {
              font-size: 1.5vw;
            }
            .course_filter_active {
              color: #f78177;
            }
          }
        }
      }
    }
    .close_move {
      left: -100%;
      transition: 1s;
      position: fixed;
      top: 0;
      width: 100%;
      height: 55%;
      background-color: #362d2b;
      z-index: 99;
    }

    .course_store {
      position: absolute;
      top: 0;
      left: 0%;
      background-color: #f5ddba;
      display: flex;
      flex-direction: column;
      .open_option {
        position: fixed;
        transform: translateX(-50%);
        left: 11%;
        font-size: 30px;
        top: 7%;
        color: #362d2b;
        z-index: 25;
        display: block;
      }
      .open_close {
        display: none;
      }
      .course_store_content_wrap {
        width: 100%;
        height: 340px;
        display: flex;
        align-items: center;
        position: relative;
        .course_store_content_minWrap {
          width: inherit;
          height: 210px;
          background-color: #f78177;
          width: 100%;
        }
        .course_store_slide {
          width: 90%;
          height: 250px;
          border: 5px solid #707070;
          position: absolute;
          transform: translateX(-50%);
          left: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          div {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .carousel_store_info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .carousel_store_title {
              position: absolute;
              top: -5%;
              transform: translateX(-50%);
              left: 50%;
              font-size: 75px;
              font-family: niagara, serif;
            }
            li {
              color: #ffffff;
              font-size: 16px;
            }
          }
        }
      }
      .course_store_navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        img {
          width: 100%;
          opacity: 0.39;
        }

        .course_store_info {
          width: 50%;
          max-height: 250px;
          position: relative;
          overflow: hidden;
          // border:2px yellowgreen  solid;
          .course_store_info_wrap {
            display: flex;
            flex-direction: column;
            position: absolute;
            transform: translateX(-50%);
            top: 20%;
            left: 50%;
            align-content: center;
            justify-items: center;

            .course_store_info_txt {
              font-family: niagara, serif;
              font-size: 21vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 1px;
            }
            .course_store_info_minTxt {
              font-family: niagara, serif;
              font-size: 6vw;
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 25vw;
            }
          }
        }

        .course_hover_color1 {
          background-color: #f6dcb9;
        }
        .course_hover_color2 {
          background-color: #f2a6ad;
        }
        .course_hover_color3 {
          background-color: #c57647;
        }
        .course_hover_color4 {
          background-color: #9f7667;
        }

        .activeImg {
          color: white;
          .course_store_info_wrap {
            top: 25%;
            transition: 0.4s;
          }
          img {
            opacity: 1;
          }
        }
      }
      .course_list_wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .color0 {
          background-color: #edc6b1;
        }
        .color1 {
          background-color: #f6dcb9;
        }
        .color2 {
          background-color: #f2a6ad;
        }
        .color3 {
          background-color: #c57647;
        }
        .color4 {
          background-color: #d57c5f;
        }
        .color5 {
          background-color: #e9cfc5;
        }
        .color6 {
          background-color: #9f7667;
        }
        .color7 {
          background-color: #edc6b1;
        }
        .color8 {
          background-color: #edc6b1;
        }

        .course_card {
          position: relative;
          width: 100%;
          &:hover .course_card_img {
            opacity: 1;
          }
          &:hover .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 15vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 100px;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 16px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 30%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 16px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 22px;
              }
              .course_card_mark_m {
                font-size: 20px;
                color: #f6dcb9;
              }
            }
          }
          .course_card_img {
            opacity: 1;
          }
          .course_card_hover {
            background: #362d2b;
            opacity: 0.75;
            display: flex;
            width: 100%;
            height: 15vh;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 0px;
            align-items: center;
            justify-content: flex-end;
            font-family: adobe-devanagari, sans-serif;
            color: #ffffff;
            transition: 2s;
            .course_add_cart {
              text-align: center;
              width: 100px;
              height: 44px;
              border: 2px #ffffff solid;
              color: #ffffff;
              font-size: 16px;
              line-height: 44px;
              position: absolute;
              transform: translateX(-50%);
              top: 30%;
              left: 20%;
            }
            .course_card_mark {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              margin: 0 15px 0 0;
              font-weight: bold;
              .course_card_mark_s {
                font-size: 16px;
                margin: 6px 0 0 0;
              }
              .course_card_mark_l {
                font-size: 22px;
              }
              .course_card_mark_m {
                font-size: 20px;
                color: #f6dcb9;
              }
            }
          }

          .course_card_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
