// background-color

$bgc-dark: #362D2B;
$bgc-topLeft: #F6DCB9;

// color

$color-storeUp: #F4DBB9;
$color-storeDown: #E9756E;


// style css 

.storeAll {
    display: flex;
    max-width: 1920px;
    min-height: 100vh;
    background-color: $bgc-dark;
    .storeChoose {
        position: fixed;
        width: 470px;
        .storeUp {
            height: 60px;
            background-color: rgba($bgc-topLeft,0.5);
            overflow: hidden;
            p {
                font-size: 120px;
                line-height: 130px;
                margin-left: 90px;
                font-weight: 600;
                color: $color-storeUp;
            }
        }
        .storeDown {
            .storeDownName {
                overflow: hidden;
                p {
                    font-size: 120px;
                    line-height: 120px;
                    margin-left: 95px;
                    margin-top: -55px;
                    font-weight: 600;
                    color: $color-storeDown;
                }
            }
            .storeCountryName {
                p {
                    margin-top: -100px;
                    margin-left: 290px;
                    width: 180px;
                    height: 80px;
                    border-radius: 10px 0 0 10px;
                    background-color: #E9756E;
                    color: #ffffff;
                    font-size: 50px;
                    line-height: 85px;
                    text-align: center;
                    position: absolute;
                }
            }
            .storeSelect {
                width: 80%;
                margin: 0 auto;
                display: none;
            }
            .storeButtonGroup {
                width: 100%;
                margin: 0 auto;
                ul.storeCheckboxGroup {
                    width: 405px;
                    margin: 0 auto;
                    list-style: none;
                    padding: 0;
                    li.storeCheckboxItem {
                        display: inline-block;
                    }
                    li.storeCheckboxItem label span {
                        display: inline-block;
                        margin-top: 20px;
                        width: 200px;
                        height: 70px;
                        /* background: lightgreen; */
                        background-color: #fff;
                        text-align: center;
                        line-height: 30px;
                        user-select: none;
                        cursor: pointer;
                        color: #9597A6;
                        font-weight: bold;
                        font-family: "微軟正黑體";
                        font-size: 25px;
                    }
                    li.storeCheckboxItem1 label span {
                        border-radius: 10px 0 0 10px;
                    }
                    li.storeCheckboxItem2 label span {
                        margin-left: 5px;
                        border-radius: 0 10px 10px 0;
                    }
                    li.storeCheckboxItem label input {
                        display: none;
                    }
                    li.storeCheckboxItem label input:checked + span {
                        background: #E9756E;
                        color: #FFFFFF;
                    }
                } 
            }
        }
    }
    .storeList {
        margin-left: 470px;
        width: calc(100% - 470px);
        // background-color: $bgc-topLeft;
        .storeListTop {
            width: 100%;
            height: 60px;
            background-color: $bgc-dark;
        }
    }
}



// taiwan css
.prefix__storeCountry {
    transition: .2s;
    fill: #ffffff;
}
.prefix__storeCountry:hover {
    fill: #E9756E;
}

.areaStoreClick {
    fill: #E9756E;
}

.areaNoHaveStore {
    fill: #666666;
}

// .keelungMap:hover{
//     fill: #E9756E;
//     opacity: 1;
// }
// .taipeiMap:hover {
//     fill: #E9756E;
// }
// .newTaipeiMap:hover {
//     fill: #E9756E;
// }
// .taoyuanMap:hover {
//     fill: #E9756E;
// }
// .hsinchu_1Map:hover {
//     fill: #E9756E;
// }
// .hsinchu_2Map:hover {
//     fill: #E9756E;
// }
// .yilanMap:hover {
//     fill: #E9756E;
// }
// .miaoliMap:hover {
//     fill: #E9756E;
// }
// .taichungMap:hover {
//     fill: #E9756E;
// }
// .changhuaMap:hover {
//     fill: #E9756E;
// }
// .nantouMap:hover {
//     fill: #E9756E;
// }
// .yunlinMap:hover {
//     fill: #E9756E;
// }
// .hualienMap:hover {
//     fill: #E9756E;
// }
// .chiayiMap:hover {
//     fill: #E9756E;
// }
// .tainanMap:hover {
//     fill: #E9756E;
// }
// .kaohsiungMap:hover {
//     fill: #E9756E;
// }
// .taitungMap:hover {
//     fill: #E9756E;
// }
// .pingtungMap:hover {
//     fill: #E9756E;
// }




// Masonry Card Css

.storeMasonryCard {
    // box-shadow: 0px 0px 5px $bgc-topLeft;
    overflow: hidden;
    position: relative;
    .storeSpacePhoto {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .storeCardTop {
        .storeName {
            width: 50% ;
            position: absolute;
            top: 0; 
            left: 0;
            p {
                overflow:hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 0 10px 0 5px;
                font-size: 20px;
                background-color: $bgc-dark;
                border-radius: 0 0 40px 0;
            }
        }
    }
    .storeCardDown {
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        align-items: center;
        transition: .5s;
        .storeCardDownMain {
            width: 100%;
            height: 300px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.8);        
            .storeLogoPhoto {
                margin: 10px;
                min-width: 100px;
                max-height: 100px;
                border-radius: 50%;
                object-fit: cover;
                object-position: 50% 50%;
            }
            .storeIntroduce {

                p {
                    margin: 0 10px;
                    overflow:hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4; //行數
                    -webkit-box-orient: vertical;
                    white-space: normal;
                    font-size: 16px;
                }
            }
        }
        .storeEnterButton {
            position: absolute;
            bottom: 10px;
            right: 25px;
            .storeEnterStore {
                padding: 10px 10px;
                border-radius: 22px;
                color: #9597A6;
                background: #FFFFFF;
                font-size: 20px;
                line-height: 20px;
                cursor: pointer;
                text-decoration: none;
                svg {
                    font-size: 20px;
                }
            }
            .storeEnterStore:hover {
                background: #E9756E;
                color: #FFFFFF;
            }
        }
    }
}

.storeMasonryCard:hover .storeCardDown {
    opacity: 1;
}



// max-width 1200px
@media screen and (max-width: 939px) {
    .storeAll {
        display: block;
        min-height: 100%;
        .storeChoose {
            position: relative;
            width: 100%;
            .storeUp {
                display: flex;
                justify-content: center;
                p {
                    margin-left: 0;
                }
            }
            .storeDown {
                .storeDownName {
                    p {
                        display: flex;
                        justify-content: center;
                        margin-left: 10px;
                    }
                }                
                .storeMap {
                    display: none;
                }
                .storeCountryName {
                    display: none;
                }
                .storeSelect {
                    display: block;
                }
            }
        }
        .storeList {
            margin-left: 0px;
            width: 100%;
        }
    }
}

// max-width 500px
@media screen and (max-width: 500px) {
    .storeAll {
        display: block;
        min-height: 100%;
        .storeChoose {
            position: relative;
            width: 100%;
            .storeUp {
                
            }
            .storeDown {
                .storeButtonGroup {
                    ul.storeCheckboxGroup {
                        li.storeCheckboxItem label span {
                            height: 50px;
                            line-height: 22px;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    
}