// background-color

$bgc-dark: #362D2B;
$bgc-topLeft: #F6DCB9;

// color

$color-storeUp: #F4DBB9;
$color-storeDown: #E9756E;


// style css 

.storeAll {
    display: flex;
    width: 1920px;
    height: 100vh;
    background-color: $bgc-dark;
    .storeChoose {
        width: 470px;
        .storeUp {
            height: 60px;
            background-color: rgba($bgc-topLeft,0.5);
            overflow: hidden;
            p {
                font-size: 120px;
                line-height: 130px;
                margin-left: 90px;
                font-weight: 600;
                color: $color-storeUp;
            }
        }
        .storeDown {
            overflow: hidden;
            p {
                font-size: 120px;
                line-height: 120px;
                margin-left: 95px;
                margin-top: -55px;
                font-weight: 600;
                color: $color-storeDown;
            }
            .storeMap {
                
            }
            .storeCountryName {
                p {
                    margin-top: -100px;
                    margin-left: 290px;
                    width: 180px;
                    height: 80px;
                    border-radius: 10px 0 0 10px;
                    background-color: #E9756E;
                    color: #ffffff;
                    font-size: 50px;
                    line-height: 85px;
                    text-align: center;
                    position: absolute;
                    opacity: 1;
                }
            }
            .storeButtonGroup {
                p {
                    font-size: 20px;
                    line-height: 20px;
                }
            }
        }
    }
    .storeList {
        max-width: 1450px;
        .storeListTop {
            width: 100%;
            height: 60px;
            background-color: $bgc-topLeft;
        }
    }
}

// max-width 1200px
@media (max-width:1200px) {
    
}

// max-width 500px
@media (max-width:500px) {
    
}

// taiwan css
.prefix__storeCountry {
    fill: #ffffff;
}
.prefix__storeCountry:hover {
    fill: #E9756E;
}

.keelungMap:hover .keelung{
    // fill: #E9756E;
    opacity: 1;
}
.taipeiMap:hover {
    fill: #E9756E;
}
.newTaipeiMap:hover {
    fill: #E9756E;
}
.taoyuanMap:hover {
    fill: #E9756E;
}
.hsinchu_1Map:hover {
    fill: #E9756E;
}
.hsinchu_2Map:hover {
    fill: #E9756E;
}
.yilanMap:hover {
    fill: #E9756E;
}
.miaoliMap:hover {
    fill: #E9756E;
}
.taichungMap:hover {
    fill: #E9756E;
}
.changhuaMap:hover {
    fill: #E9756E;
}
.nantouMap:hover {
    fill: #E9756E;
}
.yunlinMap:hover {
    fill: #E9756E;
}
.hualienMap:hover {
    fill: #E9756E;
}
.chiayiMap:hover {
    fill: #E9756E;
}
.tainanMap:hover {
    fill: #E9756E;
}
.kaohsiungMap:hover {
    fill: #E9756E;
}
.taitungMap:hover {
    fill: #E9756E;
}
.pingtungMap:hover {
    fill: #E9756E;
}