.row {
  height: 100vh;
  .checkLeftBox {
    background-color: #544641;
    width: 450px;
  }
}

.checkPageIconBox {
  margin: 0 auto;
  width: 90%;
  height: 108px;
  h5 {
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
  }
  hr {
    display: block;
    height: 3px;
    background: linear-gradient(to right, #f78177, #f78177 50%, #eee 50%);
    width: 153px;
    flex-shrink: 1;
    margin: 0px 10px 0px 10px;
  }
}
@media (max-width: 576px) {
  .checkPageIconBox {
    flex-direction: column;
    margin-top: 30px;
  }
}
.checkPageIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  flex-shrink: 0;
}

.cartStep {
  background-color: #f78177;
}

.cartStep2 {
  background-color: #ffffff;
}

.checkPageBox {
  padding-top: 15px;
  max-width: 60%;
  margin: 0 auto;
  // height: calc(100vh - 108px);

  p {
    color: #9597a6;
  }
  h4 {
    text-align: center;
    font-size: 25px;
    color: white;
    padding: 11px 0 11px 0;
  }
  .checkTotal {
    padding: 11px 0 16px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 0px;
    p {
      font-size: 16px;
      margin: 0px;
    }
    h4 {
      font-size: 25px;
      margin: 0px;
      padding: 6px;
    }
    select {
      background-color: rgba(255, 14, 14, 0.8);
      option {
        background-color: rgba(255, 14, 14, 0.8);
      }
    }
  }
  button {
    padding: 13px 71px;
    border-radius: 25px;
    font-size: 24px;
    margin: 0 auto;
  }
}

.checkOrderDeduct {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    select {
      width: 130px;
      height: 36px;
    }
    input {
      width: 130px;
      height: 36px;
    }
    p {
      margin: 0px;
      padding: 0px;
    }
  }
}

.checkOrderTotal {
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0 15px 0;
  margin-top: 20px;
}

.creditCard {
  width: 90%;
  margin: 30px auto;
  height: 250px;
  border-radius: 36px;
  padding: 35px;
  color: white;
  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  input[type="text"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }
  p {
    margin: 0;
  }
  li {
    display: flex;
    align-items: center;
  }
}

.checkLeftBox {
  overflow: scroll;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  button {
    padding: 13px 71px;
    border-radius: 25px;
    font-size: 24px;
    margin: 0 auto;
  }
}

.creditCardDetail {
  input[type="text"] {
    width: 85px;
    height: 48px;
    border-radius: 0px;
    flex-shrink: 0;
  }
}
.checkRightBox {
  background-color: #eec1b1;
  height: 100vh;
  overflow: scroll;
  .cartRightTitle {
    margin: 0 auto;
    width: 90%;
    height: 90px;
    border-bottom: 1px solid #362d2b;
  }

  .cartRightSubTitle {
    height: 72px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #362d2b;
    h4 {
      font-size: 20px;
      font-weight: bold;
      margin-left: 30px;
    }
  }

  .cartRightList {
    width: 80%;
    padding: 16px 0px;
    margin: 0 auto;
    .checkOrder {
      position: relative;
      figure {
        position: absolute;
        top: 30px;
        right: 60px;
      }
    }
    li {
      position: relative;
      display: flex;
      padding: 30px 30px 28px 30px;
      width: 100%;
      min-height: 153px;
      background-color: #362d2b;
      border-radius: 10px;
      margin-bottom: 10px;
      color: white;
      .cartListDetail {
        display: flex;
      }
      h4 {
        margin-top: -8px;
        span {
          font-weight: bold;
        }
      }
      figure {
        width: 80px;
        height: 80px;
        border-radius: 5px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .cartOrderCancel {
        position: absolute;
        top: 15px;
        right: 15px;
        flex-shrink: 0;
        font-size: 30px;
      }
    }
    h2 {
      font-weight: bold;
    }
    button {
      border-radius: 50%;
      width: 36px;
      height: 36px;
      border: 1px solid #eec9b2;
      background-color: #362d2b;
      color: white;
      font-weight: bold;
      margin: 0 20px 0 20px;
      transition: 0.5s;
    }
    button:hover {
      background-color: #f78177;
    }
  }
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 8px;
  }
  .checkListBox {
    margin-left: 20px;
    margin-right: 10%;
  }
  .cartListTotal {
    letter-spacing: 2px;
    position: absolute;
    top: 95px;
    left: 53.5%;
  }
  .cartButtonAdd {
    margin-top: 18px;
    button{
      outline: none;
    }
  }
  .pic_cart_position {
    position: absolute;
    right: 40px;
    top: 35px;
  }
  .position_card_middle {
    position: absolute;
    left: 55%;
    top: 35px;
  }
  @media (max-width: 1450px) {
    .position_card_middle {
      position: absolute;
      left: 45%;
      top: 35px;
    }
    .cartListTotal {
      letter-spacing: 2px;
      position: absolute;
      top: 95px;
      left: 43.5%;
    }
  }
  @media (max-width: 1320px) {
    .position_card_middle {
      position: absolute;
      left: 20px;
      bottom: -20px;
    }
    .cartListTotal {
      letter-spacing: 2px;
      position: absolute;
      left: 210px;
      top: 120px;
    }
  }
  @media (max-width: 400px) {
    .position_card_middle {
      position: absolute;
      left: 20px;
      bottom: -20px;
    }
    .cartListTotal {
      letter-spacing: 2px;
      position: absolute;
      left: 10px;
      top: 125px;
    }
  }

  @media (max-width: 575px) {
    .checkListBox {
      h4 {
        font-size: 16px;
      }
      h2 {
        font-size: 20px;
      }
      .flex-column {
        width: 100%;
      }
    }
  }

  @media (max-width: 575px) {
    .cartRightList {
      li {
        flex-direction: column;
      }
    }
  }
}
