.memberCartList {
  background: #362d2b;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  max-height: 937px;
  transition: 0.5;
  overflow-y: scroll;
  width: 375px;
  // box-shadow: 0 0 30px #362d2b;
  height: 937px;
  .cart-title {
    font-size: 24px;
    padding-left: 130px;
    padding-top: 40px;
    color: #fff;
  }

  .cartBigCancel {
    position: absolute;
    top: 25px;
    right: 30px;
    color: white;
    font-size: 30px;
  }

  .course_sm_cart {
    position: relative;
    background: #362d2b;
    transition: .5s;
      .cancel_sm_cart {
        position: absolute;
        top: 0px;
        right: 10px;
        transform: scale(1.5);
      }
      div{
        color: white;
      }
      figure{
        overflow: hidden;
      }
    img{
      border-radius: 5px;
    }
  }
  .course_sm_cart:hover{
    background: ivory;
    div{
      color: #362d2b}
  }
  // .cartHead::after {
  //   content: "";
  //   display: block;
  //   border: 1px solid #fff;
  //   color: #fff;
  //   width: 85%;
  //   margin: auto;
  // }
  .product-title {
    color: #fff;
    font-size: 20px;
  }
  .cartMain {
    line-height: 20px;
    .course-title {
      font-size: 18px;
      padding-left: 40px;
      color: #fff;
    }
  }
  .cartTotal {
    font-size: 60px;
  }
  .cartBtn {
    font-size: 60px;
    color: white;
  }

}

.cartFooter {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 100px;
  background-color: #000000;
  font-family: basic-sans, sans-serif, "微軟正黑體";

}

.cartFooter-left{
  position: absolute;
  left: 0;
  bottom: 28px;
  font-size: 30px;
color: #fff;

}
.cartFooter-right{
  position: absolute;
  right: 0;
  bottom: 18px;
  width: 150px;
  height: 60px;
  background: #c8c523;
  
}



.hr-bottom {
  background-color: #fff;
  width: 85%;
  height: 1px;
  margin: auto;
}

@media (min-width:500px) {
  .memberCartList {
    margin-bottom: 100px;
  }
}