.memberCartList {
  background: #362d2b;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  max-height: 937px;
  transition: 0.5;
  overflow-y: scroll;
  width: 375px;
  height: 937px;
  .cart-title {
    font-size: 24px;
    padding-left: 130px;
    padding-top: 40px;
    color: #fff;
  }

  .cartBigCancel {
    position: absolute;
    top: 25px;
    right: 30px;
    color: white;
    font-size: 40px;
  }

  .course_sm_cart {
    position: relative;
      .cancel_sm_cart {
        position: absolute;
        top: 6px;
        right: 40px;
      }
      div{
        color: white;
      }
    img{
      border-radius: 5px;
    }
  }

  .ingre_sm_cart {
    position: relative;
    .cancel_sm_cart {
      position: absolute;
      top: 6px;
      right: 40px;
    }
    img{
      border-radius: 5px;
    }
  }
  // .cartHead::after {
  //   content: "";
  //   display: block;
  //   border: 1px solid #fff;
  //   color: #fff;
  //   width: 85%;
  //   margin: auto;
  // }
  .product-title {
    color: #fff;
    font-size: 20px;
  }
  .cartMain {
    line-height: 20px;
    .course-title {
      font-size: 18px;
      padding-left: 40px;
      color: #fff;
    }
  }
  .cartTotal {
    font-size: 60px;
  }
  .cartBtn {
    padding: 10px;
    font-size: 60px;
    color: white;
  }

}

.cartFooter {
  position: fixed;
  bottom: 0;
  width: 375px;
  height: 150px;
  background-color: #ed8c69;
}
.hr-bottom {
  background-color: #fff;
  width: 85%;
  height: 1px;
  margin: auto;
}
