@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);


.btn1 {
  color: #fff;
  cursor: pointer;
  // display: block;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px; 
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%; 
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  
}

.btn1   {
    font-size: 90px;
    
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 30px;
  text-decoration: none;
  color:#fff ;
  text-shadow: 0 0 15px #fff;
}
.btn-2::before{
    top: -30px;
}
.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 3px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: -30px;
  width: 70%;
}
.go-to-item{
    position: absolute;
    color: #fff;
  right: 16px;
  bottom: 110px;
}