$formErrorColor: #fff;
%backdrop {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 80% 5%;
  background-repeat: no-repeat;
  background-size: cover;
}
%perf-link {
  position: absolute;
  right: 10px;
  bottom: 10px;

}

.login-wrap {
  background-color: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 10px 25px #000;
  backdrop-filter: blur(3px);
  width: 25%;
  min-width: 300px;
  max-height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 1%;
  p {
    font-size: 18px;
    color: #39393e;
  }
  .my-facebook-button-class {
    min-width: 245px;
    white-space: nowrap;
    line-height: 10px;
    text-align: center;
    border-radius: 3px;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: calc(0.27548vw + 12.71074px);
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #4c69ba;
    border: calc(0.06887vw + 0.67769px) solid #4c69ba;
    padding: calc(0.34435vw + 13.38843px) calc(0.34435vw + 18.38843px);
  }
  form {
    ul {
      li {
        position: relative;
        label {
          color: #aaa;
          position: absolute;
          top: 10px;
          left: 15px;
        }
        .passwordShow {
          color: #aaa;
          position: absolute;
          top: 10px;
          right: 15px;
        }
        input {
          padding: 10px 10px 10px 40px;
          border: 1px solid #d3d3d5;
          width: 100%;
        }
        .error {
          border: 1px solid red;
        }
        .errorText {
          color: $formErrorColor;
          font-size: 0.75em;
          position: relative;
          margin-top: 5px;
        }
      }
    }
    .password-forget {
      cursor: pointer;
      color: #eee;
    }
    .register {
      cursor: pointer;
      color: #eee;
    }
    .login-btn {
      margin-top: 32px;

      input {
        display: block;
        text-align: center;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        margin: 0;
        color: #fff;
        background: #f78177;
        border-color: #f78177;
        cursor: pointer;
      }
    }
  } 
}
.login-backdrop {
  @extend %backdrop;
  background-image: url("/image/member/loginBack.jpg");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop1 {
  @extend %backdrop;
  background-image: url("/image/member/loginBack.jpg");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop2 {
  @extend %backdrop;
  background-image: url("/image/member/loginBack.jpg");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop3 {
  @extend %backdrop;
  background-image: url("/image/member/loginBack.jpg");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop4 {
  @extend %backdrop;
  background-image: url("/image/member/loginBack.jpg");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop5 {
  @extend %backdrop;
  background-image: url("/image/member/loginBack.jpg");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop6 {
  @extend %backdrop;
  background-image: url("/image/course_img/detail/法式經典檸檬塔b.png");
  .perf-link {
    @extend %perf-link;
  }
}
.login-backdrop7 {
  @extend %backdrop;
  background-image: url("/image/course_img/detail/抹茶千層蛋糕b3.png");
  .perf-link {
    @extend %perf-link;
  }
}
.captchatextInput {
  width: 148px;
  padding-left: 10px;
}
.error {
  border: 1px solid red;
}
