.memberOrderList {
  position: relative;
  overflow: scroll;
  height: 937px;
  overflow-x:hidden;
  
}

.memberOrderList h3 {
  color: white;
}

.memberOrderList ul {
  list-style-type: none;
}

.memberOrderList h5 {
  color: white;
  line-height: 30px;
  font-size: 16px;
}

.memberOrderList-info figure {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
}

.memberOrderList-info figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
