@import url("https://use.typekit.net/eqs2axx.css");
$errorColor: #b8817d;
.MemberEdit,
.MemberPasswordEdit {
  height: 100%;
  .control {
    overflow: hidden;
    position: relative;
    margin: auto;
    padding: 0 80px;
    @media (max-width: 1200px) {
      padding: 30px 60px;
    }
    .bottomText {
      font-size: 150px;
      line-height: 150px;
      position: absolute;
      left: -75px;
      top: 50%;
      transform: translate(0, -50%);
      writing-mode: vertical-lr;
      text-orientation: mixed;
      font-weight: 600;
      font-family: basic-sans, sans-serif, "微軟正黑體";
      color: #fff;
      @media (max-width: 768px) {
        font-size: 75px;
        line-height: 75px;
        top: -37.5px;
        left: 50%;
        transform: translate(-50%, 0);
        writing-mode: unset;
        font-weight: 600;
        text-orientation: none;
        font-family: basic-sans, sans-serif, "微軟正黑體";
      }
    }
  }
}
.bg-linear {
  height: "100%";
}
.MemberEditHeader {
  h4 {
    span {
      display: block;
      padding: 3% 19%;
      @media (max-width: 1200px) {
        padding: 3% 3%;
      }
    }
  }
  &::after {
    content: "";
    margin: auto;
    display: block;
    width: 95%;
    border-width: 10px;
    border-bottom: 1px solid #544641;
  }
}
.MemberPasswordEdit {
  height: 100vh;
}
.MemberEditMain,
.MemberPasswordEditMain {
  .short-input {
    width: 288px;
    margin: 10px 30px;
  }

  input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 35px;
    background-color: rgba($color: #000000, $alpha: 0.07);
    border: 1px solid #fff;
    &:-webkit-autofill {
      box-shadow: 0 0 0px 1000px #ead3b3 inset !important;
    }
  }

  .date-input {
    padding: 8px 0px 8px 35px;
  }

  .titleH {
    line-height: 60px;
  }

  .longe-input {
    width: 635px;
    margin: 10px 2%;
  }

  .error {
    border: 1px solid $errorColor;
  }

  .errorText {
    color: $errorColor;
    font-size: 1em;
  }
}

.MemberEditFooter::before {
  content: "";
  margin: auto;
  display: block;
  width: 95%;
  border-width: 10px;
  border-top: 1px solid #544641;
}
.MemberPasswordEditMain {
  padding: 0% 19%;
}
.formBtn {
  padding: 13px 50px;
  border-radius: 20px;
  margin-right: 18%;
  margin-top: 20px;
  background-color: #f0f1f7;
}

//--------------------------------------------------------------------------------------------------
.memberInfo {
  position: relative;
  overflow: hidden;
  padding: 0px 80px;

  h4 {
    margin: 220px auto 0 auto;
    @media (max-width: 768px) {
      margin: 60px auto 0 auto;
    }
    span {
      margin-left: 7%;
    }
    &::after {
      content: "";
      margin: auto;
      display: block;
      width: 95%;
      border-width: 10px;
      border-bottom: 1px solid #fff;
      padding: 20px 0;
    }
  }
  ul {
    padding: 45px 20px;
    .fontW {
      font-size: 12px;
      div {
        font-size: 20px;
      }
    }
    li {
      @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      padding: 10px;
    }
  }
  .topText {
    font-family: basic-sans, sans-serif, "微軟正黑體";
    font-size: 150px;
    line-height: 150px;
    position: absolute;
    right: -75px;
    top: 50%;
    transform: translate(0, -50%);
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-weight: 600;
    color: #e9756e;
    @media (max-width: 768px) {
      font-weight: 600;
      font-family: basic-sans, sans-serif, "微軟正黑體";
      text-align: center;
      font-size: 75px;
      line-height: 75px;
      bottom: 0;
      top: unset;
      left: 50%;
      right: 0;
      transform: translate(-50.75%, 75%);
      writing-mode: unset;
      text-orientation: none;
      width: 300px;
    }
  }
  ///-------
}

//--------------------------------------------------------------------------------------------------
@media (max-width: 576px) {
  .captchaCheckBox {
    flex-direction: column;
    align-items: flex-end;
    canvas {
      margin: 10px 0;
      max-width: 100px;
    }
  }
  .MemberEditFooter {
    padding: 10px 0;
  }
}
@media (max-width: 1200px) {
  .bg-linear {
    background-color: #eec1b1;
  }
  .edit-rwd {
    flex-direction: column;
  }
  .passEditRwd {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .MemberEditMain,
  .MemberPasswordEditMain {
    .short-input {
      width: 100%;
      margin: 0px 0px;
    }
    .longe-input {
      width: 100%;
      margin: 0px 0px;
    }
  }
}
