.memberOrderList {
  position: relative;
  overflow: scroll;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #544741 !important;
  h5 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
  button {
    height: 30px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #fff;
  }
}

.memberOrderList h3 {
  color: white;
}

.memberOrderList ul {
  list-style-type: none;
}

.memberOrderList h5 {
  color: white;
  line-height: 30px;
  font-size: 16px;
}

.orderListTitle-bar {
  height: 90px;
}

.orderList_title {
  margin: 14px 0 17px;
  margin-left: 25%;
  color: #9597a6;
}

.orderTitle_border {
  border-top: 1px white solid;
}

::-webkit-scrollbar {
  width: 0 !important;
}

@media (min-width:766px){
  .memberOrderList{
    width: 100%;
  }
}

// .memberOrderList-info figure {
//   width: 80px;
//   height: 80px;
//   border-radius: 10px;
//   overflow: hidden;
// }

// .memberOrderList-info figure img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
// .oderList_icons {
//   color: white;
//   margin: -4px 6px 0 5px;
// }
