@import url("https://use.typekit.net/eqs2axx.css");
* {
  border-style: none;
  font-family: basic-sans, sans-serif, "微軟正黑體";
  font-weight: 500;
  font-style: normal;
}
.bg-linear {
  min-height: "937px";
}
.MemberEditHeader {
  h4 {
    span {
      display: block;
      padding: 3% 19%;
    }
  }
}
.MemberEditHeader::after {
  content: "";
  margin: auto;
  display: block;
  width: 95%;
  border-width: 10px;
  border-bottom: 1px solid #544641;
}
.MemberEditMain,
.MemberPasswordEditMain {
  //   padding-left: 10%;

  .short-input {
    width: 288px;
    margin: 10px 2%;
  }
  input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 35px;
    background-color: rgba($color: #000000, $alpha: 0.05);
    border: 1px solid #fff;
  }
  .date-input {
    padding: 6.7px 35px;
  }
  .titleH {
    line-height: 60px;
  }
  .longe-input {
    width: 620px;
    margin: 10px 2%;
  }
}
.MemberEditFooter::before {
  content: "";
  margin: auto;
  display: block;
  width: 95%;
  border-width: 10px;
  border-top: 1px solid #544641;
}
.MemberPasswordEditMain {
  padding: 0% 19%;
}
.formBtn {
  padding: 13px 50px;
  border-radius: 20px;
  margin-right: 18%;
  margin-top: 3.5%;
  background-color: #f0f1f7;
}
