.member-side-bar {
  height: 100vh;
  color: #ffffff;
  position: fixed;
  z-index: 900;
  min-width: 375px;
  min-height: 100vh;
  background-color: #362d2b;
  box-shadow: 1px 1px 20px #000;
  @media (max-width: 768px) {
    box-shadow: 0 0 0;
  }
  @media (max-width: 1200px) {
    &.member-side-bar-hide {
      position: fixed;
      left: -100%;
      z-index: 900;
      transition: 1s;
    }
    &.member-side-bar-show {
      position: fixed;
      left: 0%;
      z-index: 900;
      transition: 1s;
      top: 0;
      height: 100%;
      background-color: #362d2b;
    }
  }

  .member-side-bar-header {
    .imgBox {
      margin-top: 65px;
      position: relative;
      img {
        overflow: hidden;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        border: 5px solid #f2a6ad;
      }
      .imgEdit {
        position: absolute;
        bottom: 5px;
        font-size: 50px;
        color: rgba($color: #7a7a7a, $alpha: 0.4);
        .imgBox {
          position: relative;
          top: 10px;
          .imgPut {
            padding: 5px;
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            opacity: 0;
          }
        }
      }
    }
    .nameBox {
      padding: 25px 80px;
      text-align: center;
      font-size: 24px;
      border-bottom: 1px solid #9597a6;
    }
  }

  .member-side-bar-info {
    ul {
      font-size: 12px;
      line-height: 35px;
      margin-top: 45px;
      margin-left: -40px;
      color: #9597a6;
      li {
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        a {
          border-radius: 15px;
          padding: 3px 10px !important;
          left: 0px;
        }
        .active {
          text-align: center;
          background: #b8817d !important;
          position: relative;
          left: 10px;
          transition: 0.5s;
          padding: 3px 10px !important;
        }
      }
    }
  }
}
