* {
  font-family: "微軟正黑體";
  padding: 0;
  margin: 0;
}

.side-bar {
  min-width: 374px;
  background-color: #362d2b;
  min-height: 937px;
}

.member-info {
  height: 230px;
  position: relative;
}

.member-photo {
  margin: 0px;
  border-radius: 50%;
  border: 8px #f2a6ad solid;
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  width: 148px;
  height: 148px;
  top: 64px;
  left: 50%;
  margin-left: -74px;
}

.object {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.member-title {
  border-bottom: 1px solid #fff;
  padding: 30px 15%;
}

.member-function {
  color: white;
  width: 100%;
  height: 100%;
}

.member-function p {
  margin-top: 45px;
  color: #9597a6;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 29px;
}

.member-function h3 {
  font-size: 20px;
}

.text-center h3 {
  font-size: 23px;
}
