.Ingre {
  background-color: #eec1b1;
  .IngreHeader {
    padding: 20px 10px 0 10px;
  }
  .IngreMain {
    height: 100%;
    overflow-y: scroll;
    ul {
      padding: 0 20px;
      li {
        ul {
          @media (max-width: 768px) {
            &.main-content {
              flex-direction: column;
              justify-content: center;
              // margin: 0 auto;
              li {
                margin: 20px 0;
                div {
                  margin: 10px 0;
                }
              }
            }
          }

          img {
            margin: auto;
            overflow: hidden;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            @media (max-width: 768px) {
              margin: 0;
            }
          }
          .Ingre-info {
            margin-left: 100px;
            @media (max-width: 1200px) {
              margin: 0 auto;
            }
          }
        }
      }
      .total {
        @media (max-width: 768px) {
          text-align: left;
          margin: right;
        }
      }
    }
  }
  .IngreFooter {
    .totleBox {
      padding: 10px;
    }
  }
}
