.orderDeCourse {
  height: 100vh;
  padding-top: 60px;
  wrapper {
    height: 90px;
    border-bottom: 1px solid #f0f1f7;
    p {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
}

.orderDeCourse {
  border-bottom: 1px solid #f0f1f7;
  figure {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.orderDeCourseList {
  flex-grow: 1;
  border-bottom: 1px solid #f0f1f7;
  padding: 20px 65px 20px 60px;
  p {
    font-size: 16px;
    color: #9597a6;
    margin-bottom: 0px;
  }
  h5 {
    font-size: 20px;
  }
  ul {
    margin-top: 18px;
    height: 80px;
    background-color: #fff;
    border-radius: 5px;
    li {
      flex-grow: 1;
      border-right: 1px #f0cfb4 solid;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4 {
        font-weight: light;
        font-size: 24px;
      }
      .my-1 {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
      p {
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}

.orderCourseIcon {
  background-color: #f7eceb;
}
.orderCourseDel {
  width: 97px;
  height: 32px;
  border-radius: 5px;
  background-color: #f0f1f7;
  p {
    margin-left: 10px;
  }
}

.orderIconBottom {
  width: 160px;
  height: 48px;
  border-radius: 5px;
  background-color: #f0f1f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.orderIconRight {
  width: 97px;
  height: 32px;
  border-radius: 5px;
  background-color: #f0f1f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 0px 5px;
  p {
    font-size: 14px;
    padding: 0px;
    white-space: nowrap;
  }
}
