<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <script>
    // { "course_sid": 36, "course_name": "巧克力玫瑰花束", "course_order_choose": "2019-12-25 15:00:00", "course_order_applicants": 5,"course_lists": "巧克力玫瑰花束.jpg","course_price":1200}
    let arr = [
      { sid: 1, name: "Ben", time: "1994-08-02" },
      { sid: 2, name: "Son", time: "1996-02-20" },
      { sid: 3, name: "Ben", time: "1994-08-02" },
      { sid: 4, name: "Ben", time: "1994-08-02" },
      { sid: 5, name: "Ben", time: "1994-08-02" }
    ];
    let b = [
      { sid: 4, name: "Son", time: "1996-02-20" },
      { sid: 3, name: "Ben", time: "1994-08-02" }
    ];

    //  console.log(arr.filter(i=>  )) 

    let crr = [...arr];
    
    arr.forEach((el) => {
      b.forEach(value => {
        if (el.sid === value.sid) {
          crr.splice(crr.indexOf(el), 1);
        }
      })
    })


    console.log(crr);

    // function isObjEqual(o1, o2) {
    //   var props1 = Object.getOwnPropertyNames(o1);
    //   var props2 = Object.getOwnPropertyNames(o2);
    //   if (props1.length != props2.length) {
    //     return false;
    //   }
    //   for (var i = 0, max = props1.length; i < max; i++) {
    //     var propName = props1[i];
    //     if (o1[propName] !== o2[propName]) {
    //       return false;
    //     }
    //   }
    //   return true;
    // }

    // let check=[];
    // for(let i = 0; i < arr.length; i++){
    //   check[i] = isObjEqual(arr[i], b);
    // }
    // if(check.indexOf(true)=== -1){
    //   arr.push(b);
    //   check = [];
    // }else{
    //   check = [];
    // }
    // console.log(arr)


  </script>
</body>

</html>