//scss
$pink: #eabeae;
$orange: #f5ddba;

@import url("https://use.typekit.net/zcg2kdc.css");
@import url("https://use.typekit.net/wuz0itu.css");
@import url("https://use.typekit.net/wuz0itu.css");

body {
  background: linear-gradient(135deg, #f0c7b3, #f4dcb9);
  font-family: franklin-gothic-compressed, sans-serif;
}

.teacher-list-page {
  margin-top: 60px;
  display: flex;
  align-items: center;
  text-align: center;

  //-----老師大圖------
  .left-img {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 900px;
    height: 600px;
    // background: rgb(207, 163, 80);
    clip-path: polygon(0 36%, 31% 0, 100% 100%, 0% 100%);

    .big_img {
      height: 300px;
      width: 300px;
      background: #000;
    }
  }

  //----切換照片的按鈕----
  .slider-btn-box {
    left: 20%;
    width: 30%;
    margin-left: 10%;
    position: absolute;
    bottom: 9%;
    z-index: 2;

    button {
      padding-left: 2%;
      font-size: 18px;
    }

    .btn-slide {
      background: transparent;
      border: none;

      &:focus {
        outline: none;
      }

      &:hover {
        color: #c57647;
      }

      &:active {
        color: #c57647;
      }
    }
  }

  //----切換照片的按鈕----

  // ----老師小圖----
  .silder-circle {
    z-index: 2;

    .slider-box {
      width: 350px;
      height: 350px;
      position: absolute;
      left: 34%;
      bottom: 5%;
      border-radius: 50%;
      overflow: hidden;
      border: 10px solid #f0c7b3;
    }
    .slider-image {
      width: 100%;
    }
  }

  // --------老師開課程圖--------
  .right-img {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    height: 730px;
    width: 850px;
    // object-fit: cover;
    // overflow: hidden;
    // background: #683;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .link-subject {
      position: fixed;
      top: 70px;
      right: 30px;
      z-index: 5;
      a {
        color: #c57647;
        font-size: 50px;
      }
    }
    // .btn-right-link{
    //   margin-top:100px;
    //   border:none;
    //   background:#972;
    //   border-radius:5px;
    //   padding:5px;
    //   &:hover{
    //     cursor: pointer;
    //   }
    //   &:focus{
    //     outline:none;
    //   }
    // }
  }

  // --------老師課程圖--------

  .teacher-page-left {
    width: 10%;
    height: 100%;
    // background: #726;
  }

  .teacher-page-right {
    width: 10%;
    height: 100%;
  }

  .teacher-page-center {
    width: 80%;
    z-index: 4;
    // background: #882;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .teacher-name {
      height: 50%;
      padding-top: 5%;
      // background: #922;
      h1 {
        font-family: niagara, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 180px;
      }
    }

    // ----老師介紹introduce----
    .teacher-intro {
      height: 30%;
      text-align: right;
      //往左移
      padding-right: 9%;
      padding-bottom: 2%;
      padding-top: 3%;
      display: flex;
      justify-content: flex-end;

      .teacher-intro-box {
        // background: rgb(180, 19, 113);
        width: 30%;
        text-align: left;

        h3 {
          font-family: franklin-gothic-compressed, sans-serif;
          font-weight: 400;
          font-style: medium;
          font-size: 25px;
        }

        p {
          font-family: franklin-gothic-compressed, sans-serif;
          font-weight: 400;
          font-style: medium ltalic;
        }
      }
    }

    // ----老師介紹introduce----

    // ----老師專長expertise----
    .teacher-expe {
      height: 20%;
      text-align: right;
      // padding-right: 1%;

      .teacher-expe-box {
        // background: rgb(241, 135, 28);
        width: 90%;
        padding-top: 2%;
      }

      h2 {
        font-family: franklin-gothic-compressed, sans-serif;
        font-weight: 500;
        font-style: medium;
        font-size: 47px;
        padding-right: 10%;
      }

      p {
        font-family: franklin-gothic-compressed, sans-serif;
        font-weight: 600;
        font-style: medium ltalic;
        font-size: 25px;
      }
    }
  }
}
// =========RWD============
@media (max-width: 400px) {
  // 開課圖
  .subject-img {
    display: none;
  }
  //報名頁
  .subject-page-left {
    display: none;
    z-index: 2;
  }
  .subject-page-right {
    display: none;
  }
  // 主要區塊
  .subject-page-center {
    width: 100%;
  }
}
