// subject-name字體
@import url("https://use.typekit.net/wuz0itu.css");
// subject-detail字體
@import url("https://use.typekit.net/wuz0itu.css");
//book字體
@import url("https://use.typekit.net/wuz0itu.css");
$maincolor: #f78177;
// subject-info字體
@import url("https://use.typekit.net/wuz0itu.css");
// subject-price字體
@import url("https://use.typekit.net/wuz0itu.css");
//teacher-link字體
@import url("https://use.typekit.net/wuz0itu.css");

.subject-page {
  background: linear-gradient(135deg, #f0c7b3, #f4dcb9);
  position: relative;
  align-items: center;
  text-align: center;

  .subject-img {
    height: 750px;
    width: 850px;
    position: fixed;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #456;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .subject-page-left {
    width: 20%;
    // height: 100%;
    z-index: 2;
  }

  .subject-page-right {
    width: 20%;
    height: 100vh;
    background:#F78177;
    opacity: 66%;
  }

  // ----主要內容區塊-----
  .subject-page-center {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 2;

    .subject-name {
      // height: 10%;
      padding-left: 31%;
      display: flex;

      .subject-name-box {
        width: 100%;
        
        p {
          margin: 0;
          font-family: niagara, serif; // 主要字型
          font-weight: 400;
          font-style: normal;
          font-size: 130px;
          // z-index: 2;
        }

        .color-section {
          margin-top: -22%;
          margin-left: 35%;
          width: 55%;
          // width: 447px;
          height: 100px;
          // height: 90%;
          background: $maincolor;
          // opacity: 66%;
        }
      }
    }
    .teacher-link {
      width: 25%;
      padding-top: 4%;
      padding-left: 10%;
      font-size: 34px;
      a {
        color: #362d2b;
        font-family: franklin-gothic-compressed, sans-serif;
        font-weight: 400;
        font-style: normal;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .subject-info {
      width: 64%;
      margin-top: 3%;
      margin-left: 31%;
      color: #9597a6;
      font-family: basic-sans, sans-serif;
      font-weight: 700;
      font-style: normal;

      .info-box {
        width: 50%;
        margin-left: 1px;
        height: 70px;
        background: #ffffff;
      }
    }

    .subject-detail {
      width: 34%;
      height: 47%;
      // border: 1px solid #900;
      margin-top: 1.5%;
      margin-left: 66%;

      .subject-detail-box {
        width: 85%;
        height: 100%;
        background: $maincolor;
        // opacity: 66%;
        color: #ffffff;
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        flex-direction: column;
       
        .subject-address {
          // background-color: yellow;
          padding-top: 1%;
          // align-items: center;
          p {
            text-align:left;
            margin-top: 3%;
            padding-left: 8%;
          }
        }
        .subject-feature {
          padding-top: 1%;
          p {
            text-align:left;
            max-width: 70%;
            padding-left: 10%;
          }
        }

        .subject-price {
          color: #545871;
          font-size: 28px;
          padding-bottom: 8%;

          p {
            font-family: basic-sans, sans-serif;
            font-weight: 700;
            font-style: normal;
            margin: 0;
            padding-left: 50%;
            padding-top: 12%;
          }

          span {
            font-family: basic-sans, sans-serif;
            font-weight: 700;
            font-style: normal;
          }
        }
      }
    }

    .book-btn-box {
      width: 15%;
      margin-left: 76.5%;
      margin-top: -2%;

      // border: 1px solid red;
      .book-btn {
        width: 192px;
        height: 56px;
        color: #362d2b;
        border: 1px solid transparent;
        background: #f0f1f7;
        font-family: basic-sans, sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 24px;
        border-radius: 30px;

        &:focus {
          // 按下有藍色邊框問題要解決
          outline: none ;
          border-color: #ffffff;
        }
        // &:hover {
        //   color: blueviolet;
        // }
        &:active {
          // 按下有藍色邊框問題要解決
          outline: none ;
          border-color: transparent;
          color: #ffffff;
          background-color: #362d2b;
        }
      }
    }
  }
}
