// subject-name字體
@import url("https://use.typekit.net/wuz0itu.css");
// subject-detail字體
@import url("https://use.typekit.net/wuz0itu.css");
//book字體
@import url("https://use.typekit.net/wuz0itu.css");
$maincolor: #f78177;
// subject-info字體
@import url("https://use.typekit.net/wuz0itu.css");
// subject-price字體
@import url("https://use.typekit.net/wuz0itu.css");

.subject-page {
  background: linear-gradient(135deg, #f0c7b3, #f4dcb9);
  position: relative;
  align-items: center;
  text-align: center;

  .subject-img {
    height: 960px;
    width: 960px;
    position: fixed;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #456;
  }

  .subject-page-left {
    width: 20%;
    height: 100%;
    background: #726;
  }

  .subject-page-right {
    width: 20%;
    height: 100%;
    background: rgb(61, 160, 61)
  }

  // ----主要內容區塊-----
  .subject-page-center {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .subject-name {
      height: 20%;
      padding-left: 41%;
      display: flex;
      // border: 1px solid red;

      .subject-name-box {
        width: 100%;
        // border: 1px solid #123;
        margin-top: 1%;

        // padding-right: 20%;
        p {
          margin: 0;
          font-family: niagara, serif; // 主要字型
          font-weight: 400;
          font-style: normal;
          font-size: 140px;
          z-index: 2;
        }

        .color-section {
          margin-top: -20%;
          margin-left: 43%;
          width: 447px;
          height: 120px;
          background: $maincolor;
        }
      }
    }

    .subject-info {
      width: 80%;
      margin-top: 6%;
      margin-left: 35%;
      color: #9597A6;
      font-family: basic-sans,
        sans-serif;
      font-weight: 700;
      font-style: normal;

      div {
        width: 75%;
        // 中間空隙問題待解決
        border: 1px solid red;
        margin-left: 1px;
        // width: 185px;
        height: 80px;
        background: #ffffff;

      }
    }

    .subject-detail {
      width: 35%;
      // border: 1px solid #900;
      margin-top: 2%;
      margin-left: 70%;

      .subject-detail-box {
        width: 85%;
        height: 416px;
        background: $maincolor;
        color: #FFFFFF;
        font-family: basic-sans, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        flex-direction: column;

        .subject-address {
          // background-color: yellow;
          padding-top: 5%;
          // padding-left: 3%;
          // align-items: center;
          p {
            margin-top: 3%;
            padding-left: 12%;
          }
        }
        .subject-feature{
          padding-top: 5%;
          p{
            max-width: 70%;
            padding-left: 12%;
          }
        }

        .subject-price {
          color: #545871;
          font-size: 28px;

          p {
            font-family: basic-sans,
              sans-serif;
            font-weight: 700;
            font-style: normal;
            margin: 0;
            padding-left:65%;
            padding-top: 20%;
          }

          span {
            font-family: basic-sans,
              sans-serif;
            font-weight: 700;
            font-style: normal;
          }
        }
      }
    }

    .book-btn-box {
      width: 20%;
      margin-left: 78%;
      margin-top: -2%;

      // border: 1px solid red;
      .book-btn {
        width: 192px;
        height: 56px;
        color: #362D2B;
        border: 1px solid transparent;
        background: #F0F1F7;
        font-family: basic-sans,
          sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 24px;
        border-radius: 30px;

        &:focus {
          // 按下有藍色邊框問題要解決
          outline: none;
        }

        // &:hover {
        //   color: blueviolet;
        // }
        &:active {
          // 按下有藍色邊框問題要解決
          outline: none;
          color: #FFFFFF;
          background-color: #362D2B;
        }
      }
    }
  }
}